<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@0,600;1,200&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Kolker+Brush&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@0,600;1,200&display=swap"
    rel="stylesheet">



  <script src="https://kit.fontawesome.com/27fe4e3881.js" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>


<body>
  <header>
    <nav class=" nav">
        <img src="/Docs/rubber-duck.png" width="200px" height="60px">
      <a class="a" href="/"> HOME </a>
      <a href="/products" class="a"><option value="shoes">PRODUCTS</option></a>
      <form action="" method="post"><input class="search" type="text" placeholder="serach" name="search" /></form>
      <form action="" method="post"><button type="submit">Login</button></form>
      <form action="" method="post"><button type="submit">Register</button></form>
    </nav>
  </header>
  <main>
    <% items.forEach(item => { %>
      <div class="item">
        <img src="<%= item.photo_url %>">
        <h2><%= item.item_name %></h2>
        <p><%= item.niche_name %></p>
        <p><%= item.description %></p>
        <p>Price: $<%= item.price %></p>
      </div>
    <% }); %>
  </main>

</body>

</html>

